<a href="https://colab.research.google.com/github/wasekaiqbal/data-science-1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [5]:
from IPython.core import magic
exam_data = {'name': [
    'anastasia',
    'dima',
    'katherine',
    'james',
    'bob',
    'emily',
    'mike',
    'kevin',
    'tom',
    'kevin'
],
'score': [12.3, 14, 11, 9,3.4, np.nan,np.nan,16,8,8],
'attempt': [1,2,1,3,1,2,1,2,4,3],'qualify': ['yes','no','yes','yes','yes','no', 'no','yes','no', 'yes']
             }
labels = ['a','b','c','d','e','f','g','h','i','j']
df  = pd.DataFrame(exam_data, index = labels)
print("summary about basic information about this DataFrame and its data: ")
print(df.info())

summary about basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     10 non-null     object
 1   score    8 non-null      float64
 2   attempt  10 non-null     int64
 3   qualify  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [6]:
df

        name  score  attempt qualify
a  anastasia   12.3        1     yes
b       dima   14.0        2      no
c  katherine   11.0        1     yes
d      james    9.0        3     yes
e        bob    3.4        1     yes
f      emily    NaN        2      no
g       mike    NaN        1      no
h      kevin   16.0        2     yes
i        tom    8.0        4      no
j      kevin    8.0        3     yes

In [7]:
df.head()

        name  score  attempt qualify
a  anastasia   12.3        1     yes
b       dima   14.0        2      no
c  katherine   11.0        1     yes
d      james    9.0        3     yes
e        bob    3.4        1     yes

In [8]:
df.tail()

    name  score  attempt qualify
f  emily    NaN        2      no
g   mike    NaN        1      no
h  kevin   16.0        2     yes
i    tom    8.0        4      no
j  kevin    8.0        3     yes

In [9]:
df.loc['c']

name       katherine
score           11.0
attempt            1
qualify          yes
Name: c, dtype: object

In [11]:
df.dropna()

        name  score  attempt qualify
a  anastasia   12.3        1     yes
b       dima   14.0        2      no
c  katherine   11.0        1     yes
d      james    9.0        3     yes
e        bob    3.4        1     yes
h      kevin   16.0        2     yes
i        tom    8.0        4      no
j      kevin    8.0        3     yes